.tag-inside {
    color: green;
    background-color: transparent;
}

.tag-name {
    color: green;
    background-color: lightgrey;
}

.html_console {
    color: white;
    background-color: grey;
}

.border {
    font: 13px monospace;
    padding: 13px;
    border: 1px black solid;
    /* 28px from 2*(13+1) */
}

.editor {
    z-index: 1;
}

.textarea {
    z-index: 2;

    /* 28px from 2*(13+1) */
    width: calc(100% - 28px);
    height: 50vh;

    background: transparent;
    color: transparent;
    caret-color: black;

    resize: none;
}

.editor,
.textarea {
    position: absolute;
    top: 0;
    left: 0;

    overflow: auto;
    white-space: pre-wrap;
}