.tag-inside {
    background-color: cyan;
    color: black;
}

.tag-name {
    color: white;
    background-color: grey;
    border-style: ridge;
}

.editor {
    line-height: 2.2;
}

.html_console {
    color: white;
    background-color: grey;
}

.border {
    border: 1px black solid;
    padding: 1em;
    white-space: break-spaces;
}